<h3>Answers:
  {{#if userService.currentUser}}
    <span class="glyphicon glyphicon-plus add-link" {{action "enableAddAnswer"}}></span>
  {{/if}}
</h3>

{{#if showAddAnswer}}
  {{add-answer question=question cancel="cancelAddAnswer" save="save"}}
{{/if}}
<div class="answer-list">
  {{#each sortedAnswers as |answer|}}
    {{#if (eq answerToUpdate answer.id)}}
      {{update-answer answer=answer question=question cancel="cancelUpdate" update="update" delete="delete"}}
    {{else}}
      {{display-answer answer=answer upvote='upvote' downvote='downvote' showUpdate='showUpdate'}}
      {{/if}}
  {{/each}}
</div>
