<h3>Answers: <span class="glyphicon glyphicon-plus add-link" {{action "enableAddAnswer"}}></span></h3>
{{#if showAddAnswer}}
  {{add-answer question=question cancel="cancelAddAnswer" save="save"}}
{{/if}}
<div class="answer-list">
  {{#each question.answers as |answer|}}
    <div class="answer">
      <p>{{answer.body}}</p>
      <p><em>By {{answer.author}} {{answer.date}} ago</em></p>
    </div>
  {{/each}}
</div>
