<h3>Answers: <span class="glyphicon glyphicon-plus add-link" {{action "enableAddAnswer"}}></span></h3>
{{#if showAddAnswer}}
  {{add-answer question=question cancel="cancelAddAnswer" save="save"}}
{{/if}}
<div class="answer-list">
  {{#each question.answers as |answer|}}
    {{#if (eq answerToUpdate answer.id)}}
      {{update-answer answer=answer question=question cancel="cancelUpdate" update="update" delete="delete"}}
    {{else}}
      <div class="answer">
        <div class="table-row">
          <div class="text-center table-cell score-cell">
            <div><span class="glyphicon glyphicon-triangle-top"></span></div>
            <div>{{answer.score}}</div>
            <div><span class="glyphicon glyphicon-triangle-bottom"></span></div>
          </div>
          <div class="table-cell answer-cell">
            <p>{{answer.body}}</p>
            <p class="answer-by"><em>By {{answer.author}} {{answer.date}} ago</em> <span class="glyphicon glyphicon-pencil edit-link" {{action 'showUpdate' answer}}></span></p>
          </div>
        </div>
      </div>
      {{/if}}
  {{/each}}
</div>
