<div class="answer">
  <div class="table-row">
    <div class="text-center table-cell score-cell">
      <div><span class="glyphicon glyphicon-triangle-top voteIcon" {{action 'upvote' answer}}></span></div>
      <div>{{answer.score}}</div>
      <div><span class="glyphicon glyphicon-triangle-bottom voteIcon" {{action 'downvote' answer}}></span></div>
    </div>
    <div class="table-cell answer-cell">
      <p>{{answer.body_htmlSafe}}</p>
      <p class="answer-by"><em>By {{user.name}} {{answer.date}} ago</em> <span class="glyphicon glyphicon-pencil edit-link" {{action 'showUpdate' answer}}></span></p>
    </div>
  </div>
</div>
