{{#if showEdit}}
  {{update-question question=question cancel="cancelUpdate" update="update" delete="delete"}}
{{else}}
  <h3 class="question-title">{{question.title}} <span class="glyphicon glyphicon-pencil edit-link" {{action 'enableUpdate'}}></span></h3>
  <p>{{question.body_htmlSafe}}</p>
  <p><em>Posted by {{question.author}} {{question.date}}</em></p>
  <p>Tags:
    {{#each question.tags as |tag|}}
        {{#link-to 'tag' tag.name class='tag'}}{{tag.name}}{{/link-to}}
    {{/each}}
  </p>
{{/if}}
