{{#if showEdit}}
  {{update-question question=question cancel="cancelUpdate" update="update"}}
{{else}}
  <h3 class="question-title">{{question.title}} <span class="glyphicon glyphicon-pencil edit-link" {{action 'enableUpdate'}}></span></h3>
  <p>{{question.body}}</p>
  <p><em>Posted by {{question.author}} {{question.date}}</em></p>
{{/if}}
